/* 
    General Styles
*/
@import "~bootstrap/scss/bootstrap.scss";

/* 
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';
*/
body {
        // font-family: 'Bangers', cursive;
        // font-size: 18px;
}
.btn {
    background-color: #f08080;
    color: white;
    border: none;
    font-family: 'Bangers';
    font-size: 20px;
}
.btn:hover {
  background-color: #f08080; 
  color: white;
}

.goku {
    padding-right: 15px;
    
}
.navbar-brand {
    padding-left: 5px;
    font-size: 30px;
    font-family: 'Bangers', cursive;
}

.jumbotron {
    background-color:white;
    width: 100%;
}

.navbar {

background: rgb(232,55,55);
background: linear-gradient(90deg, rgba(232,55,55,1) 0%, rgba(240,128,128,1) 100%);
}
a:hover {
  background-color: red;
}
.page-footer{
 background: rgb(232,55,55);
background: linear-gradient(90deg, rgba(232,55,55,1) 0%, rgba(240,128,128,1) 100%);
  position: relative;
  width: 100%;
font-family: 'Bangers', cursive;

}
.flex-center {
    display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
    font-family: 'Bangers', cursive;
    font-size: 25px;
}
.card-text {
    height: 150px;
    // padding-bottom: 40px;
}
.cardimgs {
    height: 300px;
}
.footerbtn {
    color: black;
}
.heading {
    font-family: 'Bangers', cursive;
}

.carousel {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(233, 150, 150);
    font-family: 'Open Sans'
}

#demo {
    background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}



// .cardsbtn {
//     color:white !important;
// }
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }


  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .Login .btn-primary {
     background-color: #ff5757;
     border: none;
  }
}
